@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: calc(100vh - 1px);
    display: flex;
    flex-direction: bottom;
    align-items: center;
    font-size: 15px;
}

main {
    max-width: 350px;
    margin: 0 auto;

}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 14px;
    text-align: center;
    margin: 1em;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.text {
    padding: 20px 10px;
}

.text h1 {
    color: hsl(218, 44%, 22%);
    font-size: large;
}

.text p {
    color: hsl(220, 15%, 55%)
}

footer {
    position: absolute;
    bottom: 5px;
    font-size: 15px;
    text-align: center;
    width: 100%;
}